<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
 <link rel="stylesheet" href="style.css" media="all">
</head>
<body>
  <form action="/register">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email">
    <button type="submit">Submit</button>
  </form>
  <% for (const f of users) {%> 
    <li><%= f.email %></li>
  <%}%>
</body>
</html>
