<!DOCTYPE html>
<html lang="en">
<head>
  <style>
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Syne:wght@700;800&display=swap');
* {
  margin: 0;
  padding: 0; 
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

h1,h2,h3,h4 {
  font-family: "Syne", Tahoma, sans-serif;
}

.hero {
  width: 100%;
  padding: 1.5rem .5rem;
  background-color: #332FD0;  
  background-image: linear-gradient(#332FD0, #0002A1);
  color: white;

  display: flex;
  justify-content: center;
}

.hero__title {
  font-size: 1.5rem;
  max-width: 25ch;
}

.content {
  margin: .5rem 0;
  padding: 0 1.5rem;
}

ul li {
  margin: 0 .5rem;
}


span.news__source {
  color: #FB2576;
  text-transform: uppercase;
}

.news__link {
  color: #0002A1;
  text-decoration: none;
  line-height: 1.5;
}
  </style>
</head>
<body>
  <section class="hero">
    <h1 class="hero__title"><%= greeting %></h1>
  </section>

  <section class="content">
    <ul class="news">
      <% for (const dat of data) {%>
      <li>
        <span class="news__source">[<%= dat.source %>]</span>
        <a class="news__link" href="<%=dat.url%>"><%=dat.title%></a>
      </li>
      <% } %>
    </ul>
  </section>
</body>
</html>
