@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Syne:wght@700;800&display=swap');
@import url('./notifier.css');

:root  {
  --purple: #3F0071;
  --blue-1: #332FD0;
  --blue-2: #0002A1;
  --pink: #FB2576;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0; 
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: .8rem;
}

h1,h2,h3,h4,span.brand {
  font-family: "Syne", Tahoma, sans-serif;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  width: 100%;
  padding: 5.5rem .5rem;
  background-color: var(--blue-1);
  background-image: linear-gradient(var(--blue-1), var(--blue-2));
  color: var(--white);
  position: relative;
  overflow: hidden;
}


.hero__title {
  text-align: center;
  z-index: 3;
  font-size: 2rem;
  max-width: 25ch;
}

.hero::before, .hero::after {
  content: "";
  width: 300px;
  height: 300px;
  z-index: 1;
  filter: blur(80px);
  position: absolute;
}

.reg-form {
  display: flex;
  height: 35px;
  z-index: 2;
  width: clamp(250px, 60%, 320px);
}

.frm__email {
  all: unset;
  border-radius: 100px 0 0 100px;
  background: var(--white);
  color: #191919;
  font-size: .9rem;
  padding-inline: .7rem;
  width: 80%;
}

.frm__email::placeholder {
  font-size: .9rem;
}

.frm__submit {
  all: unset;
  border-radius: 0 100px 100px 0;
  background-color: black;
  width: 30%;
  min-width: 40px;
  font-size: .9rem;
  font-weight: bold;
  text-align: center;
}

.btn__loader {
  display: none;
  width: 15px;
  height: 15px;
  border: 3px solid #e8c4c4;
  border-radius: 50%;
  border-top-color: var(--white);
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.frm__submit:focus {
  outline: 1px solid white;
}

.hero::before {
  bottom: -20%;
  right: -20%;
  background-color: var(--pink);
}

.hero::after {
  top: -50%;
  left: -10%;
  background-color: var(--pink);
}

@media screen and (min-width: 800px) {
  .hero::before {
    bottom: -20%;
    right: -5%;
  }

  .hero::after {
    top: -50%;
    left: -10%;
  }
  .hero__title {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero::before, .hero::after {
    width: 350px;
    height: 350px;
    filter: blur(100px);
  }

  .hero::before {
    bottom: -20%;
    right: 10%;
  }

  .hero::after {
    top: -40%;
    left: 10%;
  }

  .hero__title {
    font-size: 4rem;
  }
}

